.llj19_dq{ width:100%; display:table; background:#fff;}
.banner01{width:100%;height:228px;background: url(../../images/special/llj19_dp/pic_01.jpg) no-repeat center center;}
.banner02{width:100%;height:254px;background: url(../../images/special/llj19_dp/pic_02.jpg) no-repeat center center;}
.banner03{width:100%;height:279px;background: url(../../images/special/llj19_dp/pic_03.jpg) no-repeat center center;}
.banner04{width:100%;height:270px;background: url(../../images/special/llj19_dp/pic_04.jpg) no-repeat center center;}
.banner04 a{ display:block; width:100%; height:100%;}
.sp_01{width:100%;height:298px;background: url(../../images/special/llj19_dp/pic_05.jpg) no-repeat center center;}
.sp_01_a{ display:block; width:1200px;height:100%; margin:0 auto; position:relative;}
.sp_01_a p{ position:absolute; left:63px; top:39px;}
.sp_01_a p label{ float:left;}
.sp_01_a p label i{ display:block; color:#361923; font-size:20px; line-height:20px; text-decoration:line-through;}
.sp_01_a p label b{ display:block; color:#ee2954; font-size:22px;line-height:22px; font-weight:100;}
.sp_01_a p span{ float:left; color:#dd0036; font-size:58px; line-height:45px; font-weight:700; padding-left:5px;}
.sp_w{ width:1200px; margin:0 auto; position:relative;}
.sp_w1{ width:100%; height:752px;}
.sp_w1 a{ display:block;}
.sp_w1 dt{ float:left; width:720px;}
.sp_02{width:720px; height:362px;background: url(../../images/special/llj19_dp/sp_01.jpg?v=311186230) no-repeat center center; margin-bottom:15px;}
.sp_03{width:720px; height:362px;background: url(../../images/special/llj19_dp/sp_02.jpg) no-repeat center center;}
.sp_04{width:465px; height:737px;background: url(../../images/special/llj19_dp/sp_03.jpg) no-repeat center center;}
.sp_w1 dt a{ display:block; width:720px; height:362px; position:relative;}
.sp_w1 dt a p{ position:absolute; left:36px; top:230px;}
.sp_w1 dt a p label{ float:left;}
.sp_w1 dt a p label i{ display:block; color:#361923; font-size:20px; line-height:20px; text-decoration:line-through;}
.sp_w1 dt a p label b{ display:block; color:#ee2954; font-size:22px;line-height:22px; font-weight:100;}
.sp_w1 dt a p span{ float:left; color:#dd0036; font-size:58px; line-height:45px; font-weight:700; padding-left:5px;}
.sp_w1 dd{ float:right; width:465px;}
.sp_w1 dd a{display:block; width:465px; height:737px;position:relative;}
.sp_w1 dd a p{ position:absolute; left:46px; top:550px;}
.sp_w1 dd a p label{ float:left;}
.sp_w1 dd a p label i{ display:block; color:#361923; font-size:20px; line-height:20px; text-decoration:line-through;}
.sp_w1 dd a p label b{ display:block; color:#ee2954; font-size:22px;line-height:22px; font-weight:100;}
.sp_w1 dd a p span{ float:left; color:#dd0036; font-size:58px; line-height:45px; font-weight:700; padding-left:5px;}
.sp_list{ width:1200px; margin:0 auto; position:relative;}
.sp_list ul{width:1220px;}
.sp_list ul li{ float:left; width:289px; height:555px; position:relative; margin:0 15px 15px 0;}
.sp_list ul li a{ display:block; width:100%; height:100%; position:relative;}
.sp_list ul li img{ display:block; width:100%; height:100%; position:absolute; left:0; top:0;}
.sp_list ul li p{ position:absolute; left:26px; top:465px;}
.sp_list ul li p label{ float:left;}
.sp_list ul li p label i{ display:block; color:#361923; font-size:20px; line-height:20px; text-decoration:line-through;}
.sp_list ul li p label b{ display:block; color:#ee2954; font-size:22px;line-height:22px; font-weight:100;}
.sp_list ul li p span{ float:left; color:#dd0036; font-size:58px; line-height:45px; font-weight:700; padding-left:5px;}
.ico_l1{position:absolute; width:344px; height:636px;background: url(../../images/special/llj19_dp/l_pic.jpg) no-repeat center center; left:-351px; top:488px;}
.ico_l2{position:absolute; width:360px; height:703px;background: url(../../images/special/llj19_dp/r_pic.jpg) no-repeat center center; right:-351px; top:183px;}

.sp_list_l1{position:absolute; width:344px; height:636px;background: url(../../images/special/llj19_dp/l_pic.jpg) no-repeat center center; left:-351px; top:750px;}
.sp_list_l2{position:absolute; width:344px; height:636px;background: url(../../images/special/llj19_dp/l_pic.jpg) no-repeat center center; left:-351px; top:1900px;}
.sp_list_r1{position:absolute; width:360px; height:703px;background: url(../../images/special/llj19_dp/r_pic.jpg) no-repeat center center; right:-351px; top:750px;}
.sp_list_r2{position:absolute; width:360px; height:703px;background: url(../../images/special/llj19_dp/r_pic.jpg) no-repeat center center; right:-351px; top:1900px;}






















