@charset "utf-8";
/* CSS Document */

/*底部乐六集*/
.ad_6_wrap{ width:100%; height:150px; background:#f2aa31;}
.ad_6{ width:1200px; height:150px; margin:0 auto;background:url(../../images/activity/llj20/ad6.jpg) no-repeat center;}

#cnzz_stat_icon_1253513466 img { width:50px; height: 12px;  overflow: hidden;}


/*已售罄*/
.ysq {
	width:100%;
	height:100%;
	background:url(../../images/end.png) no-repeat scroll center center;
	background-size:70%;
	position:absolute;
	left:0;
	top:0;
	z-index:9;
}
/*已售罄*/
/*已抢光*/
.yqg{width:100%;height:100%;background:url(../../images/special/1766m/yqg.png) no-repeat scroll center center;background-size:70%;position:absolute;left:0;top:0;z-index:9;background-color: rgba(0,0,0,.4);}
/*已抢光*/
/*活动的期数*/
.d_banner_qi{width:196px;height:177px;background: url(../../images/special/xkdzt/llj_tips_bg.png) no-repeat scroll center center;position: absolute;left:50%;margin-left: -600px;text-align: center;top:0px;}
.d_banner_qi p{width:196px;bottom: 46px;height:40px;line-height:40px;color:#fff;font-size:24px;left:0px;position: absolute;text-align: center;word-spacing: 15px;}
/*活动的期数*/
/*乐6集第32期 浮动导航*/
.nav_rside{
    background: url(../../images/special/llj32_dq/le6_32.png) no-repeat scroll center center;
    width:157px;
    height:332px;
    position: fixed;
    visibility:hidden;
    left:3%;
    top:50%;
    margin-top:-150px;
    transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -ms-transition:all .2s linear 0s;
    transform:scale(0.01,.01);
    -webkit-transform:scale(0.01,.01);
    -moz-transform:scale(0.01,.01);
    -ms-transform:scale(0.01,.01);
    z-index: 9999999;
}
.nav_rside .bd {
    color:#ffffff;
    font-size:16px;
}
.nav_rside .bd ul{
    padding-top:130px;
    color:#fff;
}
.nav_rside .bd ul li{width:175px;text-align: center;height: 28px;line-height: 27px;margin-bottom: 10px;cursor: pointer;}
.nav_rside .bd ul a{
    color:#fff;
    display: inline-block;
}
.nav_rside .bd ul a:hover{
    color:#faec05;
}
.nav_rside .active a{
    color:#faec05 !important;
}
.l_green{
    padding-bottom:5px;
    padding-top:2px;
}
.nav_rside_show {
    visibility:visible;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
}   
#scrollUp{width:75px;height:30px;}
/*乐6集第32期 浮动导航*/
/* 限时折扣 llj43电器 */
.goods-promotion { font: 700 12px/15px "microsoft yahei"; color: #FFF; background: url(../../images/2014shop_background_img.png) no-repeat 0 -100px; text-align: center; width: 30px; height: 30px; padding: 20px 9px 15px 9px; position: absolute; z-index: 2; top: 5px; right: 5px;}
/* 限时折扣 */
/*字体*/
@font-face {
    font-family: 'impactregular';
    src: url('../../images/impact-webfont.eot');
    src: url('../../images/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../images/impact-webfont.woff2') format('woff2'),
         url('../../images/impact-webfont.woff') format('woff'),
         url('../../images/impact-webfont.ttf') format('truetype'),
         url('../../images/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}