body{width:1348px;background: #fafafa;}
header{width:1348px;height:295px;margin:0 auto;}

main{width:1348px;margin:0 auto;}
main dl{width:1000px;margin:0 auto;}

div{width:1000px;height:50px;border-bottom: 1px solid #8F8F8F;background: #fff;display: flex;justify-content: space-between;margin: 0 auto;}

div span{display: block;width:100px;height:50px;text-align: center;font:16px/50px "";color: #333333;}
div span.te{padding-left:230px}
main dl dd{height:150px;display: flex;background: #fff;margin-top: 30px;justify-content: space-between;align-items: center;padding:0 40px;}


main dl dd .goods{width:290px;}
main dl dd .goods img{width:100px;height:100px ;float: left;margin-right: 20px;}
main dl dd .goods a{font:14px/2 "";color:#333;}
main dl dd i{display:block;height:20px;width:60px;text-align: center;font:14px/2 "";color:#D20000;}
main dl dd #num{height:20px;width:40px;text-align: center;}
main dl dd b{display:block;width:40px;height:20px;background: #00C3FA;border-radius: 5px;text-align: center;font: 12px/20px "";cursor:pointer;}




